
python-dotenv
openai
requests
google-generativeai
langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai
chromadb
faiss-cpu
pypdf
PyMuPDF
pdf2image
pytesseract
fastapi 
uvicorn 
python-multipart